$primary: red;

$gray-100: #f2f2f2 !default;
$gray-600: #8e8e8e !default;

$body-bg: $gray-100;

$font-family-sans-serif: 'Source Sans Pro', "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
