.link-down,
.link-up {
	display: flex;
	position: absolute;
	right: 0;
	bottom: 2.5rem;
	left: 0;
    align-items: center;
	justify-content: center;
	width: 3.5rem;
	height: 3.5rem;
	margin: 0 auto;
	border-radius: 100%;
	background-color: $white;
	text-align: center;
	box-shadow: 0 10px 30px 0 rgba(32, 32, 32, .1);
	z-index: 3;

    &:hover {
        background-color: $gray-900;
        color: $white;
    }

    @include media-breakpoint-down(sm) {
		right: 2.5rem;
		left: inherit;
        margin: inherit;
    }
}

.link-down {
	transition: all 300ms cubic-bezier(.42, 0, .58, 1);

	&:before {
		transition: all 300ms cubic-bezier(.42, 0, .58, 1);
	}
}
