//Font sizes
p {
    font-size: $font-size-base * 0.85;
    line-height: 1.4;
    margin-bottom: 1.8rem;

    @include media-breakpoint-up(sm) {
        font-size: $font-size-base * 1.25;
    }
}


h1{
	font-size: $h1-font-size * 2.1;
    word-wrap: break-word;

    .welcome & {
        text-align: right;
        text-transform: uppercase;
        color: $secondary;

        span {
            text-transform: none;
            color: $white;
            color: $primary;
        }

        small {
            display: block;
            margin-top: 3rem;
            text-transform: none;
            font-size: $h2-font-size;
            color: $gray-300;;
        }
    }

    @include media-breakpoint-up(sm) {
        // font-size: $h1-font-size * 2.1;
    }
}

h1, h2, h3 {
    font-weight: 700;
}
